* {
    box-sizing: borer-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 10vmin);
    grid-template-rows: repeat(2, 10vmin);
    grid-gap: 1vmin;
}

section.container div {
    border: 2px solid black;
}

button {
    margin-bottom: 1vmin;
}

div.red {
    background-color: red;
}

div.green {
    background-color: green;
}

div.blue {
    background-color: blue;
}

div.purple {
    background-color: purple;
}

div:hover {
    opacity: 0.5;
}