* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/neon-grid.jpg');
    background-size: cover;
    background-position: center;
    
}
h1, h2 {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
}


section {
    display: grid;
    grid-template-columns: repeat(2, 25vmin);
    grid-template-rows: repeat(2, 25vmin);
    grid-gap: 2vmin;
}

section.container div {
    border: 3px solid white;
}

button {
    margin-bottom: 5vmin;
    background: none;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 12px;
    padding: 2vmin;
    border: 1.5px solid white;
}

div.first {
    background-color: #A62B7F;
    
}

div.second {
    background-color: #6252EF;
}

div.third {
    background-color: #50AEAF;
}

div.fourth {
    background-color: #EB6BD2;
}

div.fifth {
    background-color: #F29F89;
    display: none;
}

div.sixth {
    background-color: #8B3B4A;
    display: none;
}

div:hover, button:hover {
    cursor: pointer;
    border-radius: 25%;
}

h2.score {
    padding: 5vmin;
}